<div class="mainContent" style="bottom: 0px;">
    <!--左侧菜单部分Start-->

    <div data-ng-include="'template/platform/aside.html'" class="app-aside hidden-xs">
    </div>

    <!--主题内容部分Start-->
    <div class="app-content">
        <div ui-butterbar></div>
        <a class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>
        <div class="app-content-body">
            <div ui-view class="fade-in-up"></div>
        </div>
    </div>
    <!--主题内容部分End-->
   
</div>
